# Observability

health-enabled=true
metrics-enabled=true
# Basic settings for running in production. Change accordingly before deploying the server.

# Database

db=postgres

db=postgres
db-username={{ dbuser }}
db-password={{ dbpassword }}
db-url-host={{ dbhost }}
db-schema=public

# Observability

health-enabled=true
metrics-enabled=true

# HTTP

https-port=443
https-key-store-file=/certificates/keycloak_ccarj_key.keystore
https-key-store-password=#ccarj#

# Hostname for the Keycloak server.
hostname={{ hostname }}

# Proxy mode

proxy=edge